.about-main{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    padding-bottom: 5vh;
    padding-top: 15vh;
    position: relative;
}


.about-main span{
    color: darkslategray;
}

.about-main .about-container img{
    position: absolute;
    top:0;
    height: 75%;
    width: 100%;
}

.about-content{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    place-content: center center;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.about-content::-webkit-scrollbar {
    display: none;
}

p::-webkit-scrollbar{
    display: none;
}

.overflow-hide{
    overflow-y: hidden;
}

.about-content div{
    height: 25%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 75%;
    flex-direction: column;
}

.about-content div div:nth-child(1){
    position: absolute;
    top: 0;
    border: thick green solid;
    height: 50%;
    box-sizing: border-box;
}

.about-content div div:nth-child(2){
    position: absolute;
    top: 50%;
    border: thick green solid;
    height: 50%;
    box-sizing: border-box;
}

.about-content p {
    position: relative;
    opacity: 0;
    display: none;
    height: 75%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    box-sizing: border-box;
    color: white;
}

.about-content div div  span{
    position: absolute;
    color: white;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    height: 100%;
    font-style: normal;
    top: 0;
    padding-top: 0;
    font-style: italic;
}

.about-content div div button{
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    border: 3px white solid;
    font-weight: bold;
    font-size: large;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.about-content button:hover{
    background-color: white;
    color: black;
}

.about-container{
    position: relative;
    width: 60%;
    height: 100%;
    border: thin black solid;
    display: flex;
    flex-direction: column;
    padding: 0;
}

@media only screen and (max-width:1023px){
    .about-container{
        margin-right: 4vw;
    margin-left: 4vw;
        width: 92vw;
    }

    .about-content{
        width: 100%;
    }
}

@media only screen and (min-width:1024px){
    .about-main{
        justify-content: center;
    }

    .about-content button{
        width: 70%;
        margin: 0 auto;
    }

    .about-content p {
        width: 70%;
        margin: 0 auto;
    }
}