  #searchOverlay {
    width: 100%;
    padding: 10%;
  }
  
  #searchOverlay input, #searchOverlay input:focus {
    width: 100%;
    padding: 0px;
    border: 0px;
    font-size: 4em;
    outline: none;
    
  }


  .search-nav{
      position: relative;
      padding: 0;
      width: 100%;
      z-index: 10;
      display: flex;
      flex-direction: column;
  }

  .search-nav button{
    background-color: #ff176c;
    border: thin #ff176c solid;
    border-radius: 0.2em;
    width: 30%;
  }

  .search-nav *{
    font-family: montserrat, sans-serif;
    color: white;
  }

  .game-header{
    font-family: montserrat, sans-serif;
      font-size: 5em;
      margin: 0;
      position: relative;
      color:#ff176c;
      margin-bottom: 2vh;
  }

  .search-nav ul{
    width: 100%;
    top: 0;
    height: 100%;
    list-style-type: none;
  }

  .search-nav p{
      position: absolute;
      top: 0;
  }

  .search-nav input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-family: montserrat, sans-serif;
      font-weight: bold;
      background-color: black;
  }
  
  .search-nav .search {
      width: 2em;
      height: 2em;
      border: none;
      position: absolute;
      left: 0;
    background: url(https://lh3.googleusercontent.com/proxy/TC5VF-31Fhs3Zm0NCkJEp6n9Cx9eokd7BgQ29ZemirlvaTPcfqVjAJGa7fPsGBqx7aZiVIcafkjW2NTp061igyTA3MJmZi6kLFqXdTuZKdpliD2u7zGAlsnuL66kSg) center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .search-nav .search:hover {
    opacity: .4;
    cursor: pointer;
  }
  
  .search-nav .search.close {
    background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/27846-84.png);
  }

  .img-wrapper {
    display: flex;
    border-top: thin lightgray solid;
    flex-direction: row-reverse;
    width: 92vw;
    height: 60vh;
    padding-top: 2vh;
  }

  .img-wrapper .search-nav{
    margin: auto 0;
    margin-left: 2vw;
  }
  
  .img-wrapper img {
    position: relative;
    left: 0%;
    max-width: 50vw;
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
  }

@media only screen and (max-width:1023px){
  .img-wrapper img{
    width: 100%;
    max-width: 92vw;
  }
  .img-wrapper .search-nav{
    margin-left: 0;
  }

  .game-header{
    font-size: 3em;
  }

  .img-wrapper{
    flex-direction: column-reverse;
  }
}