.heading {
  display: inline;
  font-family: 'CODE Bold';
  font-size: 10vh;
  color: #3f3d3d;
  position: relative;
  justify-content: space-around;
  right: 1%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.span-header{
  padding: 0px;
  text-align: center;
}

.border{
  border: thin green solid;
}

.heading-container{

  display: flex;
  width: 100%;
  padding:0px;
}

.main-font{
  font-family: 'CODE Bold';
}
#light-flicker:before{
  content: "A";
  color: #ffcc00;
  position: absolute;
  z-index: 5;
  text-shadow: none;
  text-align: center;
  left: 23.6%;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}
/*
#heading:before {
  content: "A";
  position: relative;
  overflow: hidden;
  color: #ffcc00;
  z-index: 5;
  text-shadow: none;
  left: 26%;
  text-align: left;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}

*/
@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

/*
 * Webfont: CoreCircus by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-circus/regular/
 * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved.
 * Licensed pageviews: 10,000
*
 * Webfont: CoreCircus2DDot1 by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-circus/dot1/
 * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved.
 * Licensed pageviews: 10,000
*/
@font-face {
  font-family: 'CoreCircus2DDot1';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CoreCircus';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CODE Bold';
  src: url("../../fonts/CODE Bold.otf");
  src: url("../../fonts/CODE Light.otf");
}
/*# sourceMappingURL=heading-flicker.css.map */


@media only screen and(min-width:768px){
  .heading{
    font-size: 20vw;
  }
}

@media only screen and (min-width:1024px){
  .heading{
    font-size: 16vw;
  }

  .heading-container{
    text-align: center;
    justify-content: center;
  }
}

.main-header{
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 30vh;
}

