.heading {
  display: block;
  font-size: 14vw;
  color: white;
  position: relative;
  /*right: 1%;*/
  font-family: montserrat, sans-serif;

font-weight: 700;

font-style: normal;
text-align: left;
padding-left: 3vw;
margin: 0;
mix-blend-mode: difference;
border: thin yellow solid;
}

.main-grid{
  position: relative;
  mix-blend-mode: difference;
}


.main-header{
  align-content: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 30vh;
  mix-blend-mode: difference;
}


.span-header{
  color: white;
  display: block;
  padding-left: 3vw;
  font-size: 7vw;
  font-family: montserrat, sans-serif;
  text-align: left;
  margin-top: 0vh;
  font-weight: 300;
mix-blend-mode: difference;
}

.border{
  border: thin green solid;
}

.heading-container{

  display: flex;
  width: 100%;
  padding:0px;
}

.main-font{
  font-family: 'CODE Bold';
}
/*
#light-flicker:before{
  content: "A";
  color: #ffcc00;
  position: absolute;
  z-index: 0;
  text-shadow: none;
  text-align: center;
  left: 23.6%;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}
#heading:before {
  content: "A";
  position: relative;
  overflow: hidden;
  color: #ffcc00;
  z-index: 5;
  text-shadow: none;
  left: 26%;
  text-align: left;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}

*/
@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

/*
 * Webfont: CoreCircus by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-circus/regular/
 * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved.
 * Licensed pageviews: 10,000
*
 * Webfont: CoreCircus2DDot1 by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-circus/dot1/
 * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved.
 * Licensed pageviews: 10,000
*/

/*# sourceMappingURL=heading-flicker.css.map */


@media only screen and(min-device-width:768px){
  .heading{
    font-size: 20vw;
  }
}

/* targets mobile devices in landscape mode */
@media only screen and (max-height: 17.77cm) and (orientation: landscape){
  
  .heading{
    font-size: 10vw;
  }

  .span-header{
    font-size: 5vw;
  }

  .main-header{
    margin-top: 10vh;
    top: 0;
  }
}

/*targets very small devices in landscape mode*/
@media only screen and (min-device-width: 0px) and (max-device-width:320px) and (orientation: landscape) {
    
  .heading{
    font-size: 6vw;
    border: none;
  }

  .span-header{
    font-size: 3vw;
  }

  .main-header{
    margin-top: 10vh;
  }
}

/*
@media only screen and (min-device-height: 17.78cm) and (orientation:landscape) {
    

  .heading{
    font-size: 10vw;
  }

  .span-header{
    font-size: 5vw;
  }

  .main-header{
    margin-top: 30vh;
  }
}
*/


@media only screen and (min-device-width: 17.78) {

  .heading{
    font-size: 10vw;
  }

  .span-header{
    font-size: 5vw;
  }
    
  .main-header{
    margin-top: 30vh;
  }
}


@media only screen and (min-device-width:1024px){
  .heading{
    font-size: calc(5em + 3.5vw);
  }

  .heading-container{
    text-align: center;
    justify-content: center;
  }
  .main-header{
    margin-top: 30vh;
  }

  .span-header{
    font-size: 4vw;
    margin-top: -3vh;
    padding-left: 3.5vw;
  }
}

