body, html {
    height: 100%;
  }
  .bg {
    display: block;
    position: relative;
    background-image: url("../../images/backgroundImage.jpg");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
  }