.leader-board{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #171716;
    padding-top: 10vh;
    font-family: montserrat, sans-serif;
    font-style: normal;
    color: white;
}
.zig-zag{
    width: 2em;
    left: 0;
    background: repeating-linear-gradient(-45deg, #15151E 0px, #15151E 4px, #38383F 4px, #38383F 8px);
    border: thin #38383F solid;
    margin: 0;
}
.leader-board-legend{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}


table{
    text-align: left;
    border: none;
    border-collapse: collapse;
    margin: 0;
    width: 92vw;
    margin-left: 4vw;
    margin-right: 4vw;
    
    border-collapse: collapse;
}

th{
    color:gray;
    font-weight: 300;
    
}

th,td{ 
    padding: 10px;
    border-right: none;
    border-left: none;

    padding-top: 1em;
    padding-bottom: 1em;
}

.level-span-area {
    background: #38383F;
    border-radius: 30px;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
