
.option-textarea{
    border: thin yellow solid;
    display: flexbox;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translate3d(0,0,0);
    will-change: opacity;
    margin-top: 30vh;
    pointer-events: none;
    z-index: 100;
}

.heading-options{
    will-change: contents;
    position: relative;
    margin: 0;
    border: none;
    display: block;
  font-size: 14vw;
  color: white;
  /*right: 1%;*/
  font-family: montserrat, sans-serif;
font-weight: 700;

font-style: normal;
text-align: left;
padding-left: 3vw;
margin-bottom: 0;
mix-blend-mode: difference;
}

.heading-options:hover{
    cursor: pointer;
}

.black-header{
    position: relative;
    z-index: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0;
}


.menu-holder{
    border: thin yellow solid;
    display: flex;
    flex-direction: column;
    padding :0;
    position: fixed;
    right: 0;
    z-index: inherit;
}

.black-header h4{
    margin-top: 0vh;
    margin-left: 4vw;
    display: block;
    text-align: left;
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

.black-header h4:hover{
    cursor: pointer;
}

.htp{
    margin-top: 0vh;
    margin-left: 6vw;
    display: block;
    text-align: left;
}

.content-area{
    position: relative;
    top:0;
    width: 100%;
    opacity: 0;
    will-change: opacity;
}

.content-area h3{
    color:#8d27d6;
    font-family: montserrat, sans-serif;
}

.content-area h4{
    font-weight: 400;
    font-family: montserrat, sans-serif;
}

@media only screen and (min-width: 1023px){
    .heading-options{
        font-size: 10vw;
    }

    .content-area div div{
        width: 29.6666vw;
        text-align: center;
    }

    .content-area div div h4{
        padding-right: 10px;
    }
}

