
.main-menu{
    width: 100%;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: montserrat, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-area{
    display: flex;
    flex-direction: column;
    width:99%;
    margin-bottom: 2vh;
}

.stats-holder{
    display: flex;
    margin-left: 7.5%;
    flex-direction: row;
    width: 85%;
    padding-bottom: 2vh;
    border-bottom: thin gray solid;
}

.trophy-icon{
    background-image: url(./icons8-trophy-1080.png);
    width: 4vh;
    height: 4vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.level-icon{
    background-image: url(./icons8-level-up-1080.png);
    width: 4vh;
    height: 4vh;
    background-size: contain;
}

.induvidual-icon{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 42.5%;
}

.icon-menu{
    background-size: contain;
    width: 3vh;
    height: 3vh;
    margin-right: 2vh;
    filter: invert() brightness(0.25)
}

.rules-icon{
    background-image: url(./icons8-male-user-1080.png);
}

.leaderboards-icon{
    background-image: url(./icons8-leaderboard-1080.png);
}

.clues-icon{
    background-image: url(./icons8-detective-1080.png);
}

.contact-icon{
    background-image: url(./icons8-email-1080.png);
}

.logout-icon{
    background-image: url(./icons8-export-1080.png);
}

.no-profile-pic{
    width: 10vh;
    height: 10vh;
    background-image: url(./imageonline-co-invertedimage\ \(1\).png);
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 2vh;
}
/*New Sizing info

@media only screen and (min-device-width: 0px) and (max-device-width:320px) and (orientation: landscape) {
    

    .heading-options{
      font-size: 6vw;
    }

    .option-textarea{
        margin-top: 10vh;
    } 

}

@media only screen and (min-device-width:321px) and (max-device-width: 767px) and (orientation: landscape){
    .heading-options{
        font-size: 6vw;
      }
}

@media only screen and (min-device-width: 768px) and (orientation: landscape){
    .heading-options{
        font-size: 6vw;
      }
}

@media only screen and(min-device-width:768px){
    .heading-options{
      font-size: 6vw;
    }
}


*/

@media only screen and(min-device-width:768px){
    .heading-options{
        font-size: 20vw;
      }

      .option-textarea{
        /*start here*/top: 30vh;
    }
  }

  @media only screen and (max-height: 17.77cm) and (orientation: landscape){
    
    .heading-options{
          font-size: 10vw;
        }

        .option-textarea{
            /*start here*/top: 10vh;
        } 
  }
  
  @media only screen and (min-device-width: 0px) and (max-device-width:320px) and (orientation: landscape) {
      
    .heading-options{
        font-size: 6vw;
      }
  
      .option-textarea{
          /*start here*/top: 10vh;
      } 
      .profile-info div{
          width: 92vw;
      }
  }
  
  
 @media only screen and (min-device-height: 17.78cm) and (orientation:landscape) {
      
  
    .heading-options{
      font-size: 10vw;
    }
  
    .option-textarea{
        /*start here*/top: 30vh;
    }

    
}

 
  @media only screen and (min-device-width: 17.78cm) and(orientation:portrait){
      
    .heading-options{
        font-size: 14vw;
      }

    .option-textarea{
        /*start here*/top: 30vh;
    }
  }


@media only screen and (min-device-width: 1023px){
    .heading-options{
        font-size: calc(5em + 3.5vw);
    }

    .content-area div div{
        width: 29.6666vw;
        text-align: center;
    }

    .content-area div div h4{
        padding-right: 10px;
    }

    .profile-info div{
        width: 30.6666vw;
    }
}

