
.option-textarea{
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translate3d(0,0,0);
    will-change: opacity contents;
    /*start here*/top: 30vh;
    pointer-events: none;
    z-index: 100;
    height:100vh
}

.heading-options{
    will-change: contents;
    position: relative;
    margin: 0;
    display: block;
  font-size: 14vw;
  font-family: montserrat, sans-serif;
font-weight: 700;

font-style: normal;
text-align: left;
padding-left: 3vw;
mix-blend-mode: difference;
text-rendering: optimizeSpeed;
}

.heading-options:hover{
    cursor: pointer;
}

.black-header{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0;
}


.menu-holder{
    display: flex;
    flex-direction: column;
    padding :0;
    position: fixed;
    right: 0;
    z-index: inherit;
}

.black-header h4{
    margin-top: 0vh;
    margin-left: 4vw;
    display: flex;
    text-align: left;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    will-change:opacity;
    color: black;
}

.black-header h4:hover{
    cursor: pointer;
}

.htp{
    margin-top: 0vh;
    margin-left: 6vw;
    display: block;
    text-align: left;
}

.profile-info{
    display: flex;
    flex-direction: row;
    width: 92vw;
    flex-wrap: wrap;
}

.profile-info div{
    width:30.6666vw;
    margin:auto auto;
}

.content-area{
    position: relative;
    top:0;
    width: 100%;
    opacity: 0;
    will-change: opacity;
}

.content-area h3{
    color:#8d27d6;
    font-family: montserrat, sans-serif;
}

.content-area h4{
    font-weight: 400;
    font-family: montserrat, sans-serif;
}

/*New Sizing info

@media only screen and (min-device-width: 0px) and (max-device-width:320px) and (orientation: landscape) {
    

    .heading-options{
      font-size: 6vw;
    }

    .option-textarea{
        margin-top: 10vh;
    } 

}

@media only screen and (min-device-width:321px) and (max-device-width: 767px) and (orientation: landscape){
    .heading-options{
        font-size: 6vw;
      }
}

@media only screen and (min-device-width: 768px) and (orientation: landscape){
    .heading-options{
        font-size: 6vw;
      }
}

@media only screen and(min-device-width:768px){
    .heading-options{
      font-size: 6vw;
    }
}


*/

@media only screen and(min-device-width:768px){
    .heading-options{
        font-size: 20vw;
      }

      .option-textarea{
        /*start here*/top: 30vh;
    }
  }

  @media only screen and (max-height: 17.77cm) and (orientation: landscape){
    
    .heading-options{
          font-size: 10vw;
        }

        .option-textarea{
            /*start here*/top: 10vh;
        } 
        .profile-info div{
            width: 92vw;
        }
  }
  
  @media only screen and (min-device-width: 0px) and (max-device-width:320px) and (orientation: landscape) {
      
    .heading-options{
        font-size: 6vw;
      }
  
      .option-textarea{
          /*start here*/top: 10vh;
      } 
      .profile-info div{
          width: 92vw;
      }
  }
  
  
 @media only screen and (min-device-height: 17.78cm) and (orientation:landscape) {
      
  
    .heading-options{
      font-size: 10vw;
    }
  
    .option-textarea{
        /*start here*/top: 30vh;
    }
}

 
  @media only screen and (min-device-width: 17.78cm) and(orientation:portrait){
      
    .heading-options{
        font-size: 14vw;
      }

    .option-textarea{
        /*start here*/top: 30vh;
    }
  }


@media only screen and (min-device-width: 1023px){
    .heading-options{
        font-size: calc(5em + 3.5vw);
    }

    .content-area div div{
        width: 29.6666vw;
        text-align: center;
    }

    .content-area div div h4{
        padding-right: 10px;
    }
}

