
.options{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    -webkit-transform:scaleY(0) translate3d(0,0%,0);
  transform:scaleY(0) translate3d(0,0%,0);
  transform-origin: 0 0 ;
  -webkit-transform-origin: 0 0;
  pointer-events: none;
    z-index:111;
    background-color: white;
    will-change: transform;
}



.menu-svg{
    transform: scale(0.5);
    position: fixed;
    right: 1vh;
    top: 0vh;
    transform-origin: right top;
    width: 20vh;
    height: 20vh;
    z-index: 121;
}

.menu-div{
    position: fixed;
    right: 1vh;
    top: 0vh;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    z-index: 121;
}

.menu-button{
    transform: scale(0.5);
    position: fixed;
    right: 1vh;
    top: 0vh;
    transform-origin: right top;
    width: 20vh;
    height: 20vh;
    z-index: 121;
    border-radius: 100%;
    border-color: transparent;
    background-color: transparent;
}

.menu-button:hover{
    cursor: pointer;
}
