@import url('https://fonts.googleapis.com/css?family=Poppins:900i');



.wrapper {
  width: 100%;
  place-items: center;
  z-index: auto;
  display: grid;
  margin-top: 3.5vh;
}

.cta {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    width: 55%;
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
      display: flex;
      margin: auto 0;
      width: 100%;
    text-align: center;
  }

  span:nth-child(1) {
    text-align: center;
  }
  
  
  
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

@media only screen and (min-width:375px){
    .cta{
        width: 60%;
    }
}

@media only screen and (min-width:1024px){
    .cta{
        width:20%;
    }
}