.container {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    height: 100vh;
    grid-template-columns: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    z-index: 10;
    padding: 0px;
}

#carousel.snap {
    scroll-snap-type: x;
    -webkit-overflow-scrolling: touch; /* Needed to work on iOS Safari */
    -ms-scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-points-x: repeat(100%);
}

  .page1{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
      flex-direction: column;
      scroll-snap-align: start;
  }
  
  .page2{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-align: ;
    background-color: white;
  }


.scroll-div{
    height: 100%;}

@media only screen and (max-width:1023px){
    .container{
        grid-template-columns: auto;
        grid-template-rows: 100% 100%;
        height: 93vh;
        overflow-y: scroll;
    }

    #carousel.snap{
    scroll-snap-type: none;
    -webkit-overflow-scrolling: none; /* Needed to work on iOS Safari */
    scroll-snap-type: none;
    -ms-scroll-snap-type: none;
    scroll-snap-points-x: none;
    -ms-scroll-snap-points-x: none;
    }
}
