.container {
    position: absolute;
    display: flex;
    width: 100vw;
    z-index: -10;
    height: 100%;
    padding: 0px;
}


  .page1{
    top: 0;
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    background-color: black;
      flex-direction: column;
      scroll-snap-align: start;
      
   /* background-color: #ffd900;*/
  }

