.container {
    top: 0;
    left: 0;
    position: relative;
    display: grid;
    height: 100%;
    grid-template-columns: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    z-index: 10;
    padding: 0px;
    bottom: 0;
    left: 0;
}

.navigation-color{
  display: grid;
  scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch; /* Needed to work on iOS Safari */
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100%);
    -ms-scroll-snap-points-y: repeat(100%);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    overflow:hidden;
    height:10vh;
    background-color:transparent
}

#carousel.snap {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Needed to work on iOS Safari */
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-points-x: repeat(100%);
}

  .page1{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
      flex-direction: column;
      scroll-snap-align: start;
   /* background-color: #ffd900;*/
  }
  
  .page2{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    background-color:white ;
  }


.scroll-div{
    height: 100%;}

@media only screen and (max-width:1023px){
    .page1{
    }
    .container{
        grid-template-columns: auto;
        grid-template-rows: 100% 100%;
        overflow-y: scroll;
    }

    #carousel.snap{
    scroll-snap-type: none;
    -webkit-overflow-scrolling: none; /* Needed to work on iOS Safari */
    scroll-snap-type: none;
    -ms-scroll-snap-type: none;
    scroll-snap-points-x: none;
    -ms-scroll-snap-points-x: none;
    }
}
