.nav-container {
	--scale: 1;
    --icon-size: 24px;
    height: 10vh;
    border-radius: 5vh;
    width: 0%;
    background-color: white;
    position: fixed;
    top: 10vh;
    right: 0vh;
    mix-blend-mode: difference;
}
.main-nav{
    position: absolute;
    border: thick green solid;
    width: 100%;
    top: 10vh;
    right: 0;
}



.sub-nav * {
    margin: 0;
	padding: 0;
    justify-content: center;
    align-items: center;
}


.sub-nav {
    box-sizing: border-box;
    height: 10vh;
    position: relative;
    width: 100%;
	display: grid;
    grid-template-columns: repeat(5, 20%);
    padding: 0px;
    border-radius: 5vh;
    background-color: black;
	box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.12), 0 22.3px 17.9px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.04);
    overflow: hidden;
}

.sub-nav ul {
    background-color: black;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-nav ul li {
	list-style: none;
	width: var(--icon-size);
    height: var(--icon-size);
}

.sub-nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.sub-nav ul li a svg {
	fill: #fff;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	transition: opacity 100ms ease;
	pointer-events: none;
}

.sub-nav ul li a.active svg {
	opacity: 1;
}

.sub-nav .tubelight {
	position: absolute;
	top: 0px;
    transform: translateX(-50%);
	width: 45px;
	height: 5px;
	border-radius: 5px;
	background: #ffffff;
	transition: left 400ms ease;
	z-index: 10;
}


.sub-nav .tubelight .light-ray {
	position: absolute;
	left: -30%;
	top: 5px;
	width: 160%;
	height: 80px;
	clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) -50%, rgba(255, 255, 255, 0) 90%);
	pointer-events: none;
}

.support {
	position: fixed;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
}

.support a {
	margin: 0 10px;
	color: #222;
	font-size: 1.8rem;
	backface-visibility: hidden;
	transition: all 150ms ease;
}

.support a:hover {
	transform: scale(1.1);
}

@media only screen and (min-width:1024px){
    .nav-container{
    }
}