.App{
    width: 100%;
    position: relative;
    background-color: black;
    z-index: 1;
}




@media only screen and (min-device-width:1024px){

    *::-webkit-scrollbar {
        width: 10px;
        background-color:transparent;
      }
      
      /* Track */
      *::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color:transparent;
      }
       
      /* Handle */
      *::-webkit-scrollbar-thumb {
        background: rgba(211,211,211,0.2);
        border-radius: 10px;
      }
      
      /* Handle on hover */
      *::-webkit-scrollbar-thumb:hover {
        background-color: darkgray; 
      }
    
    .App{
        -ms-overflow-style: none;
    }

    .App::-webkit-scrollbar {
        display: none;
      }

      
}