.App{
    width: 100%;
    position: relative;
    background-color: black;
    z-index: 1;
}


@media only screen and (min-device-width:1024px){
    
    .App{
        -ms-overflow-style: none;
    }

    .App::-webkit-scrollbar {
        display: none;
      }
}